*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{

    background:#f2f5f7;

}

.container{

    width:90%;
    max-width:1200px;

    margin:40px auto;

}

.card{

    background:white;

    padding:20px;

    margin-bottom:20px;

    border-radius:8px;

    box-shadow:0 2px 10px rgba(0,0,0,.1);

}

h1{

    margin-bottom:20px;
    color:#0B8C7B;

}

h2{

    margin-bottom:15px;

}

.linha{

    display:flex;

    gap:15px;

}

.campo{

    display:flex;

    flex-direction:column;

    flex:1;

    margin-bottom:15px;

}

label{

    margin-bottom:5px;

    font-weight:bold;

}

input,
select{

    padding:10px;

}

table{

    width:100%;

    border-collapse:collapse;

}

th{

    background:#0B8C7B;

    color:white;

    padding:10px;

}

td{

    border:1px solid #ddd;

    padding:8px;

}

td select{

    width:100%;

}

button{

    margin-top:15px;

    padding:10px 20px;

    border:none;

    background:#0B8C7B;

    color:white;

    cursor:pointer;

    border-radius:5px;

}

button:hover{

    background:#087465;

}

.remover{

    background:#c0392b;

}